body {
	background-color: blue; 
	color: white;
	text-align: center;
}
@media (min-width: 320px) { 
	html { background-color: green; }
}
/*/made a i-pad resolution for 1024/*/
@media (max-width: 1024px) { 
	html { background-color: green; }
}

