body{
	background-color: blue; 
}
/*made a i-pad resolution for 1024*/
@media (min-width: 320px) { 
	html { background-color: green; }
}
@media (max-width: 1024px) { 
	html { background-color: green; }
}
